:root {
  --border-background: var(--color-yellow-950);
  --cell-background: var(--color-amber-800);
  --cell-background-valid: var(--color-lime-400);
  --cell-background-selected: var(--color-yellow-900);
}
.board {
  border: 32px solid var(--border-background);

  .board-content {
    background: var(--border-background);
  }
}
